---
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;

const site_name = "tricky_20";
const fullTitle = `${title} - ${site_name}`;
const description = "tricky-20 is a collect of computer puzzles";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Security/Privacy -->
        <meta name="referrer" content="no-referrer" />
        <meta
            http-equiv="Content-Security-Policy"
            content="upgrade-insecure-requests"
        />
        <meta
            http-equiv="Content-Security-Policy"
            content="object-src 'none'"
        />

        <!-- Astro specific things/View transition !-->
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />

        <!-- Website descriptions !-->
        <meta property="og:title" content={fullTitle} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:locale" content={Astro.currentLocale} />
        <meta property="og:site_name" content={site_name} />
        <meta property="og:description" content={description} />
        <meta property="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{fullTitle}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
